/*=============================================
             COMMON CSS
===============================================*/
*{

 margin: 0;
 padding: 0;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 font-family: 'Titillium Web', sans-serif;

}

body{


}

html{
font-size: 77%;
line-height: 1.5rem;
scroll-behavior: smooth;


}

/*=============================================
             Reusable css
===============================================*/
.container{
max-width: 114rem;
margin: 0 auto;
}


 a{


    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    display: block;
 }
 h2 {
     margin-top: 1rem;
     color: #ffffff;
     font-size: 1.6rem;
     text-transform: uppercase;

 }

 h2::after {
     content: "";
     display: block;
     background-color: #14a58c;
     height: 0.3rem;
     width: 9rem;
     margin: auto;
     margin-top: 0.3rem;
 }

 .btn{


    background-color: orangered;
    padding: 1rem 1rem;
    border-radius:0.6rem;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 6rem;

 }


 .discription {
     font-size: 1.5rem;
     color: #ffff;
     margin-top: 1.5rem;
     margin-bottom: 2rem;
     
 }

 h3 {

     color: #124459;
     margin-top: 1.5rem;
     text-transform: uppercase;
 }
 .head-line{
     padding: 1rem;

 }
  p {

      margin-top: 0.3rem;
      color: #ffffff;
      text-align: center;
      font-size: 1.1rem;
      padding: 0 3%;

  }


/*--------------------- grid css-------------------------------*/


  /*-------  SECTIONS-----*/

  .section {
      clear: both;
      padding: 0px;
      margin: 0px;
  }

  /*------  GROUPING  --- */


  .container:before,
  .container:after {
      content: "";
      display: table;
  }

  .container:after {
      clear: both;
  }

  .container {
      zoom: 1;
      /* For IE 6/7 (trigger hasLayout) */
  }

  /*  GRID COLUMN SETUP  */

  .col {
      display: block;
      float: left;
      margin: 1% 0 1% 1.6%;
  }

  .col:first-child {
      margin-left: 0;
  }

  /* all browsers except IE6 and lower */


  /*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

  @media only screen and (max-width: 480px) {
      .col {
          margin: 1% 0 1% 0%;
      }
  }

  /* ------ GRID OF TWO ------*/


  .span_2_of_2 {
      width: 100%;
  }

  .span_1_of_2 {
      width: 49.2%;
  }

  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

  @media only screen and (max-width: 480px) {
      .span_2_of_2 {
          width: 100%;
      }

      .span_1_of_2 {
          width: 100%;
      }
  }

  /*----------  GRID OF FOUR ----*/


  .span_4_of_4 {
      width: 100%;
  }

  .span_3_of_4 {
      width: 74.6%;
  }

  .span_2_of_4 {
      width: 49.2%;
  }

  .span_1_of_4 {
      width: 23.8%;
  }


  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

  @media only screen and (max-width: 480px) {
      .span_4_of_4 {
          width: 100%;
      }

      .span_3_of_4 {
          width: 100%;
      }

      .span_2_of_4 {
          width: 100%;
      }

      .span_1_of_4 {
          width: 100%;
      }
  }



/*=============================================
    Start Responsive nav 
===============================================*/


  /*-------mobile-menu-----*/

  .mobile-menu span{
      color: #ffffff;
      font-size: 3rem;
      margin-top: 2rem;
      float: right;
      margin-right: 3%;
      display: none;

   
    


  }
  .mobile-menu span:hover{
    cursor: pointer;
  }
  

  .overly{
      width: 0;
      height: 100%;
       position: fixed;
      background-color: #393939;
      top: 0;
      left: 0;
      z-index: 9999;
      overflow-x: hidden;
      -webkit-transition: 0.5s;
      transition: 0.5s;




  }

.overly-content{
position: relative;
top: 15%;
height: 100%;
text-align: center;
width: 100%;




  }

  .overly-content a{


    text-transform: capitalize;
    margin-top: 4rem;
    font-size: 3rem;
  }

  .overly-content a:hover{


    color: tomato;
  }

  .closeBtn{


    position: absolute;
    font-size: 3rem;
    top: 4rem;
    right: 3%;
  }

.sticky .mobile-menu span{
margin-top: 0;
line-height: 1.5;
}
.sticky .logo{

    line-height: 5;
}


/*=============================================
      End Responsive nav  section
===============================================*/




  

/*=============================================
             header section
===============================================*/


 .header-section{

    background-image: -webkit-gradient(linear,left top, left bottom,from(#87509cc7),to(#87509cc7)),url(img/hero-bg.jpg);

    background-image: linear-gradient(#87509cc7,#87509cc7),url(img/hero-bg.jpg);
    background-position: center;
    
    background-size: cover;
    height: 80vh;
    clear: both;
    
 }
 /*-------nav--------*/
 .logo{
     height: 3rem;
     width: auto;
     float: left;
     margin-top: 2.5rem;
     margin-left: 10%;
 }
 .menu{
float: right;
margin-top: 3.5rem;
margin-right: 8%;
 }
 .menu li{
     display: inline-block;
     margin-left:3rem;
 }
 .manu li:first-child{
     margin-left: 0;
 }
 .menu li a{
   text-transform: uppercase;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
 }
 .menu li a:hover{
    color: #ae1c28d7;
 }
 /* -----sticky menu------*/
 .sticky{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: #87509c;
     z-index: 9999;
 }
 .sticky .logo{

    margin-top: 0;
    
 }
.sticky .menu{
    margin-top: 0;
    padding: 1.5rem 0;
}
/*------text-part-------*/



h1{

    margin-top: 10rem;
    font-size: 3rem;
    color: #ffff;
    font-weight:500 ;
    line-height: 3rem;
    
    
    
    
}


.hero-text-box{


    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
   
   
    

}
.hero-text-box a{
    text-transform: uppercase;


    
}



 
/*=============================================
         End   header section
===============================================*/





 
/*=============================================
            start  services sectoon
===============================================*/
.services-section{
    padding: 6.5rem 0;
    text-align: center;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#17c2a3c9),to(#17c2a3c9)),url(img/services-bg.jpg);
    background-image: linear-gradient(#17c2a3c9,#17c2a3c9),url(img/services-bg.jpg);
    clear: both;
}


/*=============================================
            End  services sectoon
===============================================*/

/*=============================================
            start  team sectoon
===============================================*/
.team-section{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e7f1f8c2), to(#e7f1f8c2)),url(img/team-bg.jpg);
    background-image: linear-gradient(#e7f1f8c2, #e7f1f8c2),url(img/team-bg.jpg);
    text-align: center;
    padding: 6.5rem 0;
}
/*------text-part-------*/
.team-section h2{
    color: #3c4761;
}

.team-section .discription{
    color: #3c4761;
}
.team-section h2::after{
    background-color: #c8d9e5;
}
/*------image-part-------*/
.team{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}
/*------under text of image-------*/
.team-section h3{

    color: #3c4761;
}
.title{

  color: #30bae7;
}
 .text{
    color: #3c4761;
}

/*------social-media-------*/

.team-section ul{
 list-style: none;
 display: inline-block;

}

.team-section ul li{
    display: inline-block;
    margin:1rem 0.3rem ;
    text-align: center;
    
}
.team-section ul li i{
    background-color: #bdd1df;
    padding: 0.4rem 0.4rem;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}
.team-section ul li a{
font-size: 1rem;
display: block;
text-align: center;
}
.fb{
    padding: 0.4rem;
}
.team-section ul li i:hover{
    background-color: #393939;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
}
/*=============================================
            End  team sectoon
===============================================*/







/*=============================================
            start skill sectoon
===============================================*/



.skill-section{
    text-align: center;
    padding: 6.5rem 0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#ffffffe9),to(#ffffffe9)),url(img/skill-bg.jpg);
    background-image: linear-gradient(#ffffffe9,#ffffffe9),url(img/skill-bg.jpg);




  
}

/*------ text part-------*/

.skill-section h2 {
    color: #3c4761;
    letter-spacing: 0.3rem;
}
.skill-section .discription {

    color: #3c4761;
}

.skill-section h2::after {

    background-color: #dfe8ed;

}


/*------animatrd cirle part-------*/
svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff; /*circule color*/
    stroke-dashoffset: 219.91148575129;
    stroke-width: 7;/*circule wide*/
}

svg.radial-progress circle.incomplete {
    opacity: 0.25;
}

svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129;
}

svg.radial-progress text {
    fill: #3c4761; /* persentage(%) color*/
    text-anchor: middle;
}

svg.html-css circle {

    stroke: #15c7a8;
}

svg.ui-xi circle {

    stroke: #ad30e7;
}

svg.web-design circle {

    stroke: #eb7d4b;
}

svg.graphic-design circle {

    stroke: #d74680;
}

/*------under text of progress -------*/

.skill-section h3{
    color: #3c4761;
    margin-top: 0;
}

/*=============================================
            End  skill sectoon
===============================================*/







/*=============================================
            start portfolio sectoon
===============================================*/
.portfolio-section{
text-align: center;
padding: 6.5rem 0;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdd99c9), to(#ffdd99c9)),url(img/portfolio-bg.jpg);
background-image: linear-gradient(#ffdd99c9, #ffdd99c9),url(img/portfolio-bg.jpg);

}
.portfolio-section h2{
    color: #393939;
    letter-spacing: 0.3rem;



}
.portfolio-section h2::after{

    background-color: #e5c37f;
}

.portfolio-section .discription{
 color: #393939

}
.btn-filter{


}


button{
  background-color: #e5c37f;
  border: 0;
  outline: none;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  margin-left: 0.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover{

    background-color: #ffffff;
   -webkit-box-shadow: inset 0 0.1rem 0.4rem;
   box-shadow: inset 0 0.1rem 0.4rem;
}
.portfolio-section .col:nth-child(3){
    margin-left: 0px;
    text-align: center;
    
}
h4{

    margin-top: 1rem;
    font-size: 1.2rem;
    color: #534f46;
    text-align: center;
    text-transform: capitalize;
}


/*
.portfolio-section img{

    height: 200px;
    width: 300px;
}
*/

/*=============================================
            End  portfolio sectoon
===============================================*/

/*=============================================
        start about sectoon
===============================================*/

.about-section{
    padding: 6.5rem 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d74680d7), to(#d74680d7)),url(img/testimonial-bg.jpg);
    background-image: linear-gradient(#d74680d7, #d74680d7),url(img/testimonial-bg.jpg);
    text-align: center;

}
.about-section h2::after{

    background-color: #b73c6d;
}
.about-section .col{
    margin-left: 0rem;
}


.clint-img {
    width: 15rem;
    margin-left: 12%;

}
.box{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    float: left;



}
.clint-review h4{
    color: #ffffff;
    font-style: italic;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 200;
}
.clint-review{
    float: left;
    width: 30rem;
    padding-left: 3%;

}
.clint-review h3{
padding:0;
margin:0;
text-align: start;
margin-top: 0.5rem;

}
.clint-review .title{
    padding:0;
    margin:0;
    text-align: start;
    margin-top: 0.1em;
    font-size: 1.2rem;

}
.about-section .col:nth-child(3){

    padding-top: 5rem;
}



.about-section .col:nth-child(4) {

    padding-top: 5rem;
}


/*=============================================
            start contact sectoon
===============================================*/
.contact-section{

    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c5499ad), to(#3c5399ad)),url(img/contact-bg.jpg);

    background-image: linear-gradient(#3c5499ad, #3c5399ad),url(img/contact-bg.jpg);
    text-align: center;
    background-repeat: no-repeat;
    padding: 6.5rem 0;
    background-size: cover;
}
.contact-section h2{

    letter-spacing: 0.7rem;
}
.contact-section h2::after{
    background-color: #273a71;
}
form{
    max-width:114rem;
    width: 70%;
    text-align: center;
    margin-left: 15rem;
  
}
input[type="text"],
input[type="email"],
textarea{
    border: 0;
    outline: none;
    background-color: #273971aa;
    width: 100%;
    padding: 1rem 0;
    color: #ffffff;
    background-position:center-top;
   

}
textarea{
 margin-top: 0.5rem;

}
input[type="submit"]{
    padding: 1rem 5rem;
    background-color: #30bae7;
    outline: none;
    border: 0;
    text-transform: uppercase;
    color: #ffffff;

}
.contact-section ::-webkit-input-placeholder{
    color: #ffffff;
    opacity: 0.8;


}
.contact-section :-ms-input-placeholder{
    color: #ffffff;
    opacity: 0.8;


}
.contact-section ::placeholder{
    color: #ffffff;
    opacity: 0.8;


}

/*=============================================
            End contact sectoon
===============================================*/
/*=============================================
         start footer sectoon
===============================================*/
footer{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#344b8e), to(#344b8e));
    background-image: linear-gradient(#344b8e, #344b8e);
    text-align: center;
    padding: 2rem 0;
}
footer ul{
   

}

.end ul li{
list-style-type: none;
margin-left:3rem;
display: inline-block;
text-align: center;


}
footer ul li a{

color: #ffffff;

display: block;

}
footer ul li a:hover{
color: #327fb8;


}
/*=============================================
         end footer sectoon
===============================================*/


